{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen">
    <title>TreasureGram</title>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
      <a href="/"><img src="{% static "images/logo.png" %}" height="90"  ></a>
  </nav>

  <main class="container container--mw700">
    <div class="row">
    {% for treasure in treasures %}
      <div class="col-md-4">
        <a href="/{{ treasure.id }}/">
        <div class="treasure panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ treasure.name }}</h3>
          </div> 
          <div class="panel-body">
            <div class="treasure-photo">
              <img src="{{ treasure.img_url }}" >
            </div>
          </div>
          </a>
        </div>

      </div>
      {% if forloop.counter|divisibleby:3 %}
        </div><br><div class="row">
      {% endif %}
    {% endfor %}
    </div><br>
  </main>

  <footer class="footer container text-center" role="contentinfo">
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
  © TreasureGram 2016
  <img src="{% static 'images/brand-icon.png' %}" height="50" alt="">
</footer>
</body>
</html>
